version: '3.7'

services:

  ### Golang
  hex-go:
    image: golang:alpine
    working_dir: /hex-go
    volumes:
      - ./src/hex:/hex-go/src/hex
      - ./test/hex:/hex-go/test/hex
    command: go run /hex-go/src/hex/main.go
